<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CS 340 Project</title>
		<link rel="stylesheet" type="text/css" href="./navigationBar.css">
		<link rel="stylesheet" type="text/css" href="./generalStyles.css">
	</head>

	<body>
		<!--Menu Bar -->
		<div class="menu">
			<a href="./"> Home Page </a>
			<a href="./newCustomer"> New Customer </a>
			<a href="./dogSignUp"> Dog Stay Sign Up </a>
			<a href="./activitySchedule"> Activity Schedule </a>
			<a href="./bill"> Customer Information </a>
			<a href="./dogInfo"> Dog Information </a>
		</div>
		{{{body}}}
	</body>
</html>