		<!-- Page Information-->
		<div class="container">	

			<h1 class="Title">
			Doggy Daycare System 
			</h1>
			<h2>Welcome to Doggy Daycare!</h2>
            <img src="./images/IMG_0191.jpeg" class="largeImage"/>
			<p class="paragraph">
			This system manages every dog's stay at Doggy Daycare! Dogs are able to stay here for just the day or multiple nights. 
			During their stay, dogs are able to engage in various activities such as swimming, obedience training, grooming, and many more!
			</p>
		</div>